@import "tailwindcss/preflight";
/* replaces @tailwind base */
@import "tailwindcss/utilities";
/* replaces @tailwind components + utilities */

/* You can still add custom global CSS below */

html,
body {
    color: white;
    margin: 0;
    padding: 0;
    height: 100vh;
    overflow: hidden;
    font-family: Arial, Helvetica, sans-serif;
    /* 🔒 prevents scrollbars */
}